.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #efefef;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dee4e7;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.login {
  color: #222;
  font-size: 20px;
  font-family: bold;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #37474f;
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #dee4e7;
}
