.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dee4e7;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 9px 11px 6px -5px rgba(0, 0, 0, 0.3);
}

.login {
  color: #222;
  font-size: 20px;
  font-family: bold;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #37474f;
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #dee4e7;
}

.error {
  color: red;
  font-weight: 300;
  font-size: 12px;
}

.star {
  color: red;
}

.input {
  margin-bottom: 2rem;
}

.image {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
}
